.navbar-default {
    background-color: #0081c6;
    border-color: #0081c6;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.dark-blue{

}
