{% extends '@Backend/base.html.twig' %}

            {% block body %}

                <div class="widget">

                    <div class="widget-header transparent">
                        <h3> Espace Partenaires</h3>
                    </div>
                    <div class="widget-content">
                        <div class="data-table-toolbar">
                            <div class="row">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-8">
                                    <div class="toolbar-btn-action">
                                        <a href="{{ path('partenaires_new') }}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add new</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="records_list table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Telephone</th>
                                    <th>Adresse</th>
                                    <th>Email</th>
                                   
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                 {% for partenaire in partenaires %}
                                    <tr>
                                        <td><a href="{{ path('partenaires_show', { 'id': partenaire.id }) }}">{{ partenaire.id }}</a></td>
                                          <td>{{ partenaire.nom }}</td>
                                           <td>{{ partenaire.prenom }}</td>
                                          <td>{{ partenaire.adresse }}</td>
                                         <td>{{ partenaire.telephone }}</td>
                                          <td>{{ partenaire.email }}</td>
                                            
                       <td>
                            <a class="btn btn-primary" href="{{ path('partenaires_show', { 'id': partenaire.id }) }}">show</a>
                      
                            <a class="btn btn-success" href="{{ path('partenaires_edit', { 'id': partenaire.id }) }}">edit</a>
                        
                    </td>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endblock %}


