{% extends '@Backend/base.html.twig' %}

   {% block body %}
            <div class="widget">
                <div class="widget-header transparent">
                <h1>Amicale</h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                     <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ partenaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ partenaire.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ partenaire.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ partenaire.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ partenaire.email }}</td>
                <td> {{ form(delete_form) }}</td>
            </tr>
            
                     <tr>
                       
                    </tr>
                        </thead>
                </table>


                    <ul class="record_actions">


                        <a class="btn btn-default"
                           href="{{ path('partenaires_index') }}">Back to the list</a>

                        <a class="btn btn-success"
                         href="{{ path('partenaires_edit', { 'id': partenaire.id }) }}">Edit</a>

                    </ul>
                </div>
            </div>
            {% endblock %}