<!DOCTYPE html>
<!-- saved from url=(0029)https://bootswatch.com/lumen/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Bootswatch: Lumen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

<body>
{{ include('includes/header.html.twig') }}

<div class="container">
    {% block body %}{% endblock %}
</div>
{{ include('includes/footer.html.twig') }}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>

    <script>
        $('.carousel').carousel()
    </script>
{% endblock %}
</body>
</html>