<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" herf="{{ asset('css/bootstrap.min.css') }}" />
    <link href="netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
   
</head>
<body>
<header>
    <section class="index_banner">
        <img src="{{ asset('bundles/srcutica/image/home/header/Rectangle 1.png')}}"  />
        <p>Bienvenue chez Union Tunisienne de l'Industrie, du Commerce et de l'Artisanat </p>
        <div id="search">

            <img src="{{ asset('bundles/srcutica/image/home/header/Objet dynamique vectoriel.png')}}"  />

            <a href="login">
                <p> S'identifier </a> ou<a href="register"> S'inscrire</a> </p>

        </div>
<div class="gerant">
        <div class="fa fa-user" >
            <a href="gerant"> <p>Espace Gérant</p></a>
        </div>
</div>
    </section>
    <div class="logo" >
        <img src="{{ asset('bundles/srcutica/image/home/header/Tunisie-utica copie 2.png')}}"  />
    </div>
    <section class="index_banner1">
        <div class="nav">
            <ul>
                <li class="home"><a>Home</a></li>
                <li class="tutorials"><a href="utica">UTICA</a>
                <li class="service"><a href="services">Services</a>
                <li class="structure"><a href="structure">Structures</a>
                    <ul>
                        <li class="organisation"><a href="Structure">ORGANISATION</a></li>
                        <li class="decisionnelles"><a href="decisionnelle">STRUCTURES DECISIONNELLES</a></li>
                        <li class="commission"><a href="commission">COMMISSIONS</a></li>
                        <li class="chambre"><a href="chambre">CHAMBRES</a></li>
                        <li class="conseil"><a href="conseil">CONSEILS D'AFFAIRES</a></li>
                    </ul>
                </li>
                <li class="actualites"><a class="active" href="actualites">Acualités</a></li>
                <li class="pub"><a>Blog Pub</a>
                <li class="contact"><a>Contact</a></li>
            </ul>
        </div>
    </section>
</header>
{% block body %} {% endblock %}
<div class="footer">
    <img src="{{ asset('bundles/srcutica/image/home/Footer/footer.jpg')}}"/>

    <div id="logo"><img src="{{ asset('bundles/srcutica/image/home/Footer/Tunisie-utica.png')}}"/></div>
    <p>UTICA est une organisation parontale <br/>
        tunisienne fondée en 1947. Elle <br/>
        représente les dirigeants des entreprises<br/>
        des secteurs industriel, commercial et<br/>
        artisanal.</p>
    <h3>Suivez nous</h3>
    <div id="social">

        <div id="imgs1"><a href="https://www.facebook.com/UTICASousse2/"><img src="{{ asset('bundles/srcutica/image/home/Footer/Forma 11.png')}}"/></a></div>
        <div id="imgs2"><img src="{{ asset('bundles/srcutica/image/home/Footer/Forma 1.png')}}"/></div>
        <div id="imgs3"><img src="{{ asset('bundles/srcutica/image/home/Footer/(Trazado) + (Trazado).png')}}"/></div>
    </div>
    <ul>
        <li><h2>Site Map</h2></li>
        <li> <a href="utica">UTICA</a></li>
        <li> <a href="services"> Services</a></li>
        <li> <a href="structure">Structures </a></li>
        <li> <a href="activites"> Activités</a></li>
        <li> <a href="pub">Blog Pub </a></li>
        <li> <a href="contact"> Contact</a></li>
    </ul>
    <div id="recherche"><ul><li><h2>Recherche</h2></li>
            <li> <a href="#">Par mot clé</a></li>
            <li> <a href="#">Par thème</a></li>
            <li> <a href="#">Par date </a></li></ul></div>
    <div id="contactez-nous">
        <h3>RESTE EN CONTACT</h3>
        <input type="text" placeholder="Inscrivez-vous à notre newsletter"  id="nom">
        <input type="image" src="{{ asset('bundles/srcutica/image/home/Footer/paper122.png') }}"  id="image">
        <img src="{{ asset('bundles/srcutica/image/home/Footer/icons8_Phone_96px.png')}}" id="img1"/>
        <img src="{{ asset('bundles/srcutica/image/home/Footer/icons8_Fax_96px.png')}}" id="img2"/>
        <img src="{{ asset('bundles/srcutica/image/home/Footer/icons8_Facebook_96px_2.png')}}" id="img3"/>
        <img src="{{ asset('bundles/srcutica/image/home/Footer/icons8_Secured_Letter_96px.png')}}" id="img4"/>
        <img src="{{ asset('bundles/srcutica/image/home/Footer/icons8_Marker_96px.png')}}" id="img5"/>
        <ul>
            <li>00 216 73 201 777    </li>
            <li> 00 216 73 201 776</li>
            <a href="https://www.facebook.com/UTICASousse2/">
                <li> UTICA Sousse</li>
            </a>
            <li> ccic.car@planet.tn</li>
            <li> 12 boulevard Mhammed Maarouf Immeuble</br>
                chniti 2ème étage Sousse-4000 Tunisie</li>
        </ul>
    </div>

    <div class="copyright">
        <a href="" title>Tout droit résérvés@{{ "now"|date ('Y') }}</a>
    </div>

</div>

{% block javascripts %}<script>alert('Test XSS');</script>
{% endblock %}
<script src="//code.jquery.min/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>