<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #0b2a4f;margin-top:50px; padding: 15px;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                {#<h5 class="text-uppercase" style="color: white" >Footer Content</h5>#}
                {#<div class="col-lg-3">#}
                {#<img src="{{ asset('bundles/srcutica/image/home/Footer/footer.jpg') }}" alt="...">#}
                {#</div>#}
                <p style="color: white">UTICA est une organisation parontale <br/>
                    tunisienne fondée en 1947. Elle <br/>
                    représente les dirigeants des entreprises<br/>
                    des secteurs industriel, commercial et<br/>
                    artisanal.</p>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase" style="color: white">Site Map</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('front_index') }}">Acceuil</a>
                    </li>
                    <li>
                        <a href="utica">UTICA</a>
                    </li>
                    <li>
                        <a href="services">Service</a>
                    </li>
                    <li>
                        <a href="structure">Structure</a>
                    </li>
                    <li>
                        <a href="actualites">Actualités</a>
                    </li>
                    <li>
                        <a href="{{ path('blog_form') }}">Blog Pub</a>
                    </li>
                    <li>
                        <a href="{{ path('utica_test_contact') }}">Contact</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase" style="color: white">Rester en contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"> 00 216 73 201 777</a>
                    </li>
                    <li>
                        <a href="#!"> 00 216 73 201 776</a>
                    </li>
                    <li>
                        <a href="#!">UTICA Sousse</a>
                    </li>
                    <li>
                        <a href="#!">ccic.car@planet.tn</a>
                    </li>
                    <li>
                        <a href="#!">12 boulevard Mhammed Maarouf Immeuble
                            chniti 2ème étage Sousse-4000 Tunisie</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white; background-color: #0AA0D3">© 2019 Copyright:
        Tout droit résérvées
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
