<header>
    <div class="row" style="background-color: midnightblue; padding: 8px; margin-right: 0; margin-left: 0">
        <div class="col-lg-9">
            <h5 style="color: white; text-align: center">Bienvenue chez Union Tunisienne de l'Industrie, du Commerce
                et de l'Artisanat</h5>
        </div>
        <div class="col-lg-3 text-right" style="padding-right: 50px; padding-top: 10px;">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted('ROLE_CLIENT') %}
                    <a href="{{ path('espace_client_liste_offres') }}" style="color: white">Consulter
                        offres</a>&nbsp;|
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('srcadmin_homepage') }}">Administration</a>
                {% elseif is_granted('ROLE_GERANT') %}
                    <a href="{{ path('offre') }}">Espace gérant</a>
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}" style="color: white"> Déconnexion</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" style="color: white"> S'identifier </a> ou<a
                    href="{{ path('inscription_client') }}" style="color: white"> S'inscrire</a>
            {% endif %}
        </div>
    </div>

    <div class="row" style=" margin-right: 0; margin-left: 0">
        <div class="col-lg-12 text-center" style="padding: 15px">
            <img src="{{ asset('bundles/srcutica/image/home/header/Tunisie-utica copie 2.png') }}" class="">
        </div>
    </div>
</header>

<nav class="navbar navbar-default navbar-static" id="navbar-example">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".bs-example-js-navbar-collapse"><span class="sr-only">Toggle navigation</span>
                <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="{{ path('front_index') }}" class="dropdown-toggle" id="drop1" aria-haspopup="true"
                           aria-expanded="false">Accueil</a>
                    </li>
                    <li class="dropdown">
                        <a href="utica" class="dropdown-toggle" id="drop1" aria-haspopup="true"
                           aria-expanded="false">UTICA</a>
                    </li>
                    <li class="dropdown">
                        <a href="services" class="dropdown-toggle" id="drop1" aria-haspopup="true"
                           aria-expanded="false">Service</a>
                    </li>
                    <li class="dropdown">
                        <a href="structure" class="dropdown-toggle" id="drop2" data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true" aria-expanded="false"> Structures <span
                                    class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop2">
                            <li><a href="decisionnelle">STRUCTURES DECISIONNELLES</a></li>
                            <li><a href="commission">COMMISSIONS</a></li>
                            <li><a href="chambre">CHAMBRES</a></li>
                            <li><a href="conseil">CONSEILS D'AFFAIRES</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="actualites" class="dropdown-toggle" id="drop1" aria-haspopup="true"
                           aria-expanded="false">Actualités</a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('blog_form') }}" class="dropdown-toggle" id="drop1" aria-haspopup="true"
                           aria-expanded="false">Blog
                            pub</a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('utica_test_contact') }}" class="dropdown-toggle" id="drop1"
                           aria-haspopup="true" aria-expanded="false">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top: -20px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{{ asset('bundles/srcutica/image/home/slider/image2.jpg') }}" alt="...">
            <div class="carousel-caption" style="top: 30%">
                <h1>Le prix Nobel de la paix est décerné au Quartet du
                    dialogue national tunisien</h1>
                <p>L’organisation s’est distinguée pour « sa contribution décisive dans la construction d’une démocratie
                    pluraliste en
                    Tunisie après la révolution de Jasmin de 2011 », a affirmé le comité Nobel norvégien vendredi 9
                    octobre. Un
                    quartet composé de l’UGTT, syndicat historique, du patronat (Utica), de la Ligue tunisienne des
                    droits de l’Homme
                    (LTDH) et de l’Ordre des avocats.</p>
            </div>
        </div>
        <div class="item ">
            <img src="{{ asset('bundles/srcutica/image/home/slider/Rectangle 1 copie.jpg') }}" alt="...">
            <div class="carousel-caption" style="top: 30%">
                <h1>ECONOMIE Tunisie: Candidature au bureau exécutif de
                    l’UTICA, Wided Bouchamaoui annonce sa décision
                    officielle</h1>
                <p>Wided Bouchamaoui, présidente sortante de l’Union Tunisienne de l’Industrie, du Commerce et de
                    l’Artisanat
                    (UTICA) a annoncé mercredi qu’elle ne se représentera pas à la présidence du nouveau bureau exécutif
                    dont le
                    congrès électif a débuté ce matin.</p>
            </div>
        </div>

        <div class="item">
            <img src="{{ asset('bundles/srcutica/image/Actualités/Slider/Rectangle 1 copie.png') }}" alt="...">
            <div class="carousel-caption" style="top: 30%">
                <h1>Communiqué Forum Economique Africain</h1>
                <p>Le Ministère du Commerce tunisien organise, sous le haut patronage du Président du Gouvernement, M.
                    Youssef
                    Chahed, le « Forum Economique Africain » en partenariat avec la Banque Arabe pour le Développement
                    Economique en
                    Afrique (BADEA), la Coopération Allemande au Développement à travers la GIZ, la Société
                    Internationale Islamique de
                    Financement du Commerce (ITFC).
                    En marge de ce forum se tiendra des séances de RDV B to I le 24 avril 2018 de 14h30 à 18h. Objectifs
                    séances B to I</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/srcutica/image/blog pub/Slider/Calque 3.png') }}" alt="...">
            <div class="carousel-caption" style="top: 30%">

            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>