{% extends '@Backend/base.html.twig' %}

{% block body %}
    <h1>Secteurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secteur in secteurs %}
            <tr>
                <td><a href="{{ path('secteur_show', { 'id': secteur.id }) }}">{{ secteur.id }}</a></td>
                <td>{{ secteur.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('secteur_show', { 'id': secteur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('secteur_edit', { 'id': secteur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('secteur_new') }}">Create a new secteur</a>
        </li>
    </ul>
{% endblock %}
