{% extends '@Backend/base.html.twig' %}

{% block body %}
    <h1>Secteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ secteur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('secteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('secteur_edit', { 'id': secteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
